body{
	background-color:#7AE0D6;
	margin:0px 50px 0px 50px;
}
.logo{
	width:200px;
	height:100px;
}
.dw{
	margin-top:10px;
}
.tb{
	width:40%;
}
#p{
	margin-left:300px;
}
.lbl{
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	color:#FF0000;
	text-align:center;
	margin-top:10px;
	}
.joblisting{margin-top:10px;
float:left;
margin-left:200px;
}	

.se{float:left;
margin-top:220px;
margin-left:-450px;
}

.sel{float:left;
margin-top:220px;
margin-left:-350px;
}
.detail{float:left;
margin-top:220px;
margin-left:-150px;
}
.tbl{
background-color:#FFF;
width:50%;
}
.foot{
	margin-left:50px;
	margin-top:350px;
}
.imgs{
	width:100%;
	height:400px;
	margin-top:-20px;
}
   .rt{
	   text-align:center;
	   margin:100px;
	   float:right;
   }